SUPABASE_URL=https://ewthtcqvyejacbnmhnoi.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImV3dGh0Y3F2eWVqYWNibm1obm9pIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjM0MjI0NTQsImV4cCI6MjA3ODk5ODQ1NH0.8AYBGPfkqIY7MFJy29iFgOFFlDn8ETU7-fwJk5vBh70
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImV3dGh0Y3F2eWVqYWNibm1obm9pIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MzQyMjQ1NCwiZXhwIjoyMDc4OTk4NDU0fQ.D6Q9KUVaauj5O2kUoIHjYFZ-l-2mQ6-mQngumE2ese4